name: Build and Push Images

on:
  push:
    branches: [ main, master ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # Keeps other jobs running if one fails
      matrix:
        # These folder names must match your repo folders exactly
        service: [web, catalogue, cart, user, shipping, payment, mongodb, mysql, redis, ratings, dispatch]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: ./${{ matrix.service }}
          push: true
          # This tags the image as yourusername/rs-service:latest
          tags: ${{ secrets.DOCKER_USERNAME }}/rs-${{ matrix.service }}:latest